body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    /* background: url(../images/1.jpg)    ; */
    
    background-color: rgb(216, 232, 246);
    margin: 0;
    padding: 0px;
}



